/.env.dev.local
/.idea/
/.phpunit.result.cache
/*.iml
/bin/fbpvatlasgen/atlasgen_output/
/bin/fbpvatlasgen/node_modules/
/cwallet.sso
/node_modules/
/var/
/vendor/
/web/build/
/web/bundles/
/web/images/
