.idea/
var/
vendor/
web/bundles/
web/images/factorio/
factorio_blueprint_reader.iml
app/bootstrap.php.cache
app/config/parameters.yml
bin/fbpvatlasgen/node_modules/
web/css/
web/js/
web/images/spritesheet.json
web/images/spritesheet.png
bin/fbpvatlasgen/atlasgen_output/
node_modules/
src/AppBundle/Resources/public/js/fbpviewer.bundle.js
