version: "2.4"
services:
  mysql:
    image: mysql:5
    environment:
      MYSQL_DATABASE: symfony
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
      MYSQL_ALLOW_EMPTY_PASSWORD: 1

  web:
      image: nginx
      ports:
          - "80:80"
      volumes:
          - .:/var/www
          - ./docker/nginx.conf:/etc/nginx/conf.d/site.conf
      links:
          - php
  php:
      build: docker/php
      user: "${COMPOSE_USER_ID-1000}:${COMPOSE_GROUP_ID-1000}"
      working_dir: /var/www/web
      links:
          - mysql
      volumes:
        - .:/var/www
        - ${HOME}/.cache/composer/:/.composer/cache

  node:
      build: docker/node
      user: "${COMPOSE_USER_ID-1000}:${COMPOSE_GROUP_ID-1000}"
      command: sleep infinity
      working_dir: /var/www/bin
      volumes:
        - .:/var/www