{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BPRender</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" id="load-blueprint-button">Load blueprint...</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid" id="main-site-container" style="padding:0;margin:0;">
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="js/images/loader.js"></script>

    <script type="text/javascript" src="js/factorio/blueprints.js"></script>
    <script type="text/javascript" src="js/factorio/icons.js"></script>
    <script type="text/javascript" src="js/factorio/tiles.js"></script>

    <script type="text/javascript" src="js/factorio/entities/circuit_network/circuit_network.js"></script>
    <script type="text/javascript" src="js/factorio/entities/circuit_network/combinators.js"></script>
    <script type="text/javascript" src="js/factorio/entities/military/land-mine.js"></script>
    <script type="text/javascript" src="js/factorio/entities/military/radar.js"></script>
    <script type="text/javascript" src="js/factorio/entities/military/rocket_silo.js"></script>
    <script type="text/javascript" src="js/factorio/entities/military/turrets.js"></script>
    <script type="text/javascript" src="js/factorio/entities/military/walls.js"></script>
    <script type="text/javascript" src="js/factorio/entities/power/nuclear.js"></script>
    <script type="text/javascript" src="js/factorio/entities/power/poles.js"></script>
    <script type="text/javascript" src="js/factorio/entities/power/solar.js"></script>
    <script type="text/javascript" src="js/factorio/entities/power/steam.js"></script>
    <script type="text/javascript" src="js/factorio/entities/assemblers.js"></script>
    <script type="text/javascript" src="js/factorio/entities/logistics/belts.js"></script>
    <script type="text/javascript" src="js/factorio/entities/logistics/underneathies.js"></script>
    <script type="text/javascript" src="js/factorio/entities/logistics/splitters.js"></script>
    <script type="text/javascript" src="js/factorio/entities/chests.js"></script>
    <script type="text/javascript" src="js/factorio/entities/drills.js"></script>
    <script type="text/javascript" src="js/factorio/entities/furnaces.js"></script>
    <script type="text/javascript" src="js/factorio/entities/inserters.js"></script>
    <script type="text/javascript" src="js/factorio/entities/liquid_handling.js"></script>
    <script type="text/javascript" src="js/factorio/entities/oil_handling.js"></script>
    <script type="text/javascript" src="js/factorio/entities/tracks.js"></script>
    <script type="text/javascript" src="js/factorio/entities/other_entities.js"></script>

    <script type="text/javascript" src="js/keyboardHandler.js"></script>
    <script type="text/javascript" src="js/zoomAndPanHandler.js"></script>
    <script type="text/javascript" src="js/renderBlueprint.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
{% endblock %}
